#comments-1004-default #product-comments i.ti-comment-multiple {
  font-size: 90px; }
#comments-1004-default #product-comments .comment-average {
  color: #0c122a;
  margin-left: 40px; }
  #comments-1004-default #product-comments .comment-average strong {
    font-size: 18px; }
#comments-1004-default .star-average {
  font-size: 12px;
  line-height: 30px; }
  #comments-1004-default .star-average li strong {
    padding-right: 7px; }
#comments-1004-default .progress-bar {
  width: 100px;
  height: 7px;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden; }
  #comments-1004-default .comment-item .comment-avatar {
    background-color: #f6f6f6;
    color: #0c122a;
    font-size: 45px;
    font-weight: 900;
    width: 120px;
    height: 120px; }
  #comments-1004-default .comment-item .comment-info {
    color: #0c122a;
    font-size: 12px;
    width: calc(100% - 120px);
    padding-left: 15px; }
    #comments-1004-default .comment-item .comment-info > div + div {
      margin-top: 6px; }
  #comments-1004-default .comment-item .comment-star .rate {
    font-size: 21px;
    line-height: 1;
    margin-bottom: 6px; }
#comments-1004-default .comment-item .vote-buttons i {
  font-size: 24px; }
  #comments-1004-default .comment-item .vote-buttons a.yes-btn:hover {
    color: #43B54C !important; }
  #comments-1004-default .comment-item .vote-buttons a.no-btn:hover {
    color: #E42437 !important; }
#comments-1004-default .comment-item .purchased {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 12px; }
#comments-1004-default .comment-img {
  width: 50px;
  padding: 5px; }
  #comments-1004-default .comment-wrapper .pagination .selected {
    color: #3d84b5;
    box-shadow: 0px 0px 0px 1px #3d84b5; }
@media (max-width: 575px) {
  #comments-1004-default #product-comments i.ti-comment-multiple {
    font-size: 45px; }
  #comments-1004-default #product-comments .vote-buttons {
    font-size: 11px; }
    #comments-1004-default #product-comments .vote-buttons button {
      padding: 8px 0;
      font-size: inherit; }
  #comments-1004-default #product-comments .comment-item .comment-avatar {
    width: 80px;
    height: 80px;
    font-size: 30px; } }
#comments-1004-default[dir="rtl"] #product-comments .comment-average {
  margin-left: 0;
  margin-right: 40px; }
#comments-1004-default[dir="rtl"] .star-average li strong {
  padding-right: 0;
  padding-left: 7px; }
#comments-1004-default[dir="rtl"] .comment-item .comment-info {
  padding-left: 0;
  padding-right: 15px; }
